{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}



{{!-- <div class="container mt-5">
    <div class="row">
        {{#each prod}}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <h6><b>Rs.{{this.price}}</b></h6>
                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div> --}}


{{!-- // var prod = [
//   {
//     'name': 'Iphone11',
//     'price': 12000,
//     'description': 'Good phone',
//     "image": "https://m.media-amazon.com/images/I/61QP7Aocu8S._AC_SY550_.jpg"
//   },
//   {
//     'name': 'Iphone12',
//     'price': 12002,
//     'description': 'Good phone',
//     "image": "https://m.media-amazon.com/images/I/61QP7Aocu8S._AC_SY550_.jpg"
//   },
//   {
//     "name": 'Iphone13',
//     "price": 12003,
//     "description": 'Good phone',
//     "image": "https://m.media-amazon.com/images/I/61QP7Aocu8S._AC_SY550_.jpg"
//   },
//   {
//     'name': 'Iphone14',
//     'price': 12005,
//     'description': 'Good phone',
//     "image": "https://m.media-amazon.com/images/I/61QP7Aocu8S._AC_SY550_.jpg"
//   },
//   {
//     'name': 'Iphone15',
//     'price': 120034,
//     'description': 'Good phone',
//     "image": "https://m.media-amazon.com/images/I/61QP7Aocu8S._AC_SY550_.jpg"
//   }
// ] --}}